<div class="background">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>
<style>
    body {
        margin: 0;
        overflow: hidden;
    }
    .background {
        width: 100vw;
        height: 100vh;
        background: #3e1e68;
    }
    .background span {
        width: 20vmin;
        height: 20vmin;
        border-radius: 20vmin;
        backface-visibility: hidden;
        position: absolute;
        animation-name: move;
        animation-duration: 6s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    .background span:nth-child(1) {
        color: #583c87;
        top: 9%;
        left: 23%;
        animation-duration: 13.4s;
        animation-delay: -8.3s;
        transform-origin: -15vw -2vh;
        box-shadow: -40vmin 0 18104982845vmin currentColor;
    }
    .background span:nth-child(2) {
        color: #e45a84;
        top: 79%;
        left: 16%;
        animation-duration: 10.1s;
        animation-delay: -1.7s;
        transform-origin: -14vw 13vh;
        box-shadow: -40vmin 0 1072890485vmin currentColor;
    }
    .background span:nth-child(3) {
        color: #583c87;
        top: 95%;
        left: 75%;
        animation-duration: 11.8s;
        animation-delay: -0.6s;
        transform-origin: 23vw -21vh;
        box-shadow: -40vmin 0 7743661635vmin currentColor;
    }
    .background span:nth-child(4) {
        color: #ffacac;
        top: 64%;
        left: 29%;
        animation-duration: 15.6s;
        animation-delay: -11.4s;
        transform-origin: -22vw 4vh;
        box-shadow: -40vmin 0 17289988625vmin currentColor;
    }
    .background span:nth-child(5) {
        color: #e45a84;
        top: 28%;
        left: 44%;
        animation-duration: 15.3s;
        animation-delay: -7.3s;
        transform-origin: -9vw 3vh;
        box-shadow: -40vmin 0 12957649255vmin currentColor;
    }
    .background span:nth-child(6) {
        color: #e45a84;
        top: 52%;
        left: 28%;
        animation-duration: 14.3s;
        animation-delay: -5.3s;
        transform-origin: 15vw -8vh;
        box-shadow: -40vmin 0 15936830705vmin currentColor;
    }
    .background span:nth-child(7) {
        color: #583c87;
        top: 33%;
        left: 47%;
        animation-duration: 14s;
        animation-delay: -12.2s;
        transform-origin: 20vw -9vh;
        box-shadow: -40vmin 0 14657717665vmin currentColor;
    }
    .background span:nth-child(8) {
        color: #ffacac;
        top: 21%;
        left: 24%;
        animation-duration: 12.8s;
        animation-delay: -13.5s;
        transform-origin: 18vw -5vh;
        box-shadow: -40vmin 0 4733940865vmin currentColor;
    }
    .background span:nth-child(9) {
        color: #583c87;
        top: 76%;
        left: 53%;
        animation-duration: 15s;
        animation-delay: -5.5s;
        transform-origin: 8vw 7vh;
        box-shadow: -40vmin 0 7262405615vmin currentColor;
    }
    .background span:nth-child(10) {
        color: #e45a84;
        top: 26%;
        left: 99%;
        animation-duration: 11.4s;
        animation-delay: -7s;
        transform-origin: 23vw 0vh;
        box-shadow: -40vmin 0 18781328155vmin currentColor;
    }
    .background span:nth-child(11) {
        color: #ffacac;
        top: 22%;
        left: 24%;
        animation-duration: 10.5s;
        animation-delay: -10.3s;
        transform-origin: -23vw 23vh;
        box-shadow: -40vmin 0 20622756405vmin currentColor;
    }
    .background span:nth-child(12) {
        color: #ffacac;
        top: 79%;
        left: 30%;
        animation-duration: 11.6s;
        animation-delay: -6.2s;
        transform-origin: 23vw 4vh;
        box-shadow: -40vmin 0 12987898115vmin currentColor;
    }
    .background span:nth-child(13) {
        color: #ffacac;
        top: 20%;
        left: 49%;
        animation-duration: 15.2s;
        animation-delay: -10.5s;
        transform-origin: 23vw 18vh;
        box-shadow: -40vmin 0 7146538795vmin currentColor;
    }
    .background span:nth-child(14) {
        color: #e45a84;
        top: 34%;
        left: 68%;
        animation-duration: 13.8s;
        animation-delay: -7s;
        transform-origin: 10vw 2vh;
        box-shadow: -40vmin 0 8032365115vmin currentColor;
    }
    .background span:nth-child(15) {
        color: #583c87;
        top: 1%;
        left: 8%;
        animation-duration: 12.6s;
        animation-delay: -12.1s;
        transform-origin: -22vw 1vh;
        box-shadow: -40vmin 0 6953865405vmin currentColor;
    }
    .background span:nth-child(16) {
        color: #e45a84;
        top: 62%;
        left: 16%;
        animation-duration: 13.9s;
        animation-delay: -9.1s;
        transform-origin: -14vw -5vh;
        box-shadow: -40vmin 0 21343633635vmin currentColor;
    }
    .background span:nth-child(17) {
        color: #583c87;
        top: 47%;
        left: 14%;
        animation-duration: 11s;
        animation-delay: -12.1s;
        transform-origin: 21vw 9vh;
        box-shadow: -40vmin 0 9191973195vmin currentColor;
    }
    .background span:nth-child(18) {
        color: #e45a84;
        top: 49%;
        left: 93%;
        animation-duration: 11.6s;
        animation-delay: -8.2s;
        transform-origin: -12vw 21vh;
        box-shadow: -40vmin 0 18122316935vmin currentColor;
    }
    .background span:nth-child(19) {
        color: #ffacac;
        top: 54%;
        left: 50%;
        animation-duration: 13.2s;
        animation-delay: -1.1s;
        transform-origin: -17vw 15vh;
        box-shadow: -40vmin 0 9785984185vmin currentColor;
    }
    .background span:nth-child(20) {
        color: #ffacac;
        top: 35%;
        left: 8%;
        animation-duration: 12.3s;
        animation-delay: -1s;
        transform-origin: 5vw 12vh;
        box-shadow: -40vmin 0 11133887145vmin currentColor;
    }
    @keyframes move {
        100% {
            transform: translate3d(0, 0, 1px) rotate(360deg);
        }
    }
</style>
