<!DOCTYPE html>
<html lang="en">
<head>
    <title>Configure Widget</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>
    .center {
        margin-top: 4rem;
    }
</style>
<body>
{{component partialName }}
<div class="container">
    <div class="center">
        <form onSubmit="openWidget();return false;" class="center">
            <div class="form-group">
                <label for="brandHash">Brand Hash / API Key</label>
                <input type="text" value="NjE4MV8xNTUxOTM5MDU3MTg4X1ZJQkVS" class="form-control" id="brandHash"
                       aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="widgetHash">Widget Hash</label>
                <input type="text" class="form-control" id="widgetHash" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="widgetHash">Docker</label>
                <input type="text" class="form-control" id="docker" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="brandHash">Theme</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" value="blank" name="theme" id="blank">
                    <label class="form-check-label" for="blank">
                        Blank
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" value="gradientBeta" name="theme" id="gradientBeta">
                    <label class="form-check-label" for="gradientBeta">
                        Dynamic colors
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="random" name="theme" id="random">
                    <label class="form-check-label" for="random">
                        Random
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Let's go</button>
        </form>
        <table style="margin-top: 2rem;" class="table table-dark">
            <thead>
            <tr>
                <th scope="col">Brand Name</th>
                <th scope="col">Brand Hash</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Oyo Rooms</td>
                <td>NjE4MV8xNTUxOTM5MDU3MTg4X1ZJQkVS</td>
            </tr>
            <tr>
                <td>Fb Tweet Sonu</td>
                <td>MTAwMjZfMTYyMTQ5MTQ0MF80</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
<script>
    document.querySelector("#brandHash").value = localStorage.getItem("brandHash");
    document.querySelector("#widgetHash").value = localStorage.getItem("widgetHash");
    document.querySelector("#docker").value = localStorage.getItem("docker") || 28;
    const storageTheme = localStorage.getItem("docker") || 'gradientBeta';
    const themes = document.getElementsByName('theme');
    for(let i = 0; i < themes.length; i++) {
        if(themes[i].value === storageTheme){
            themes[i].checked = true;
        }
    }
    const openWidget = () => {
        const brandHash = document.querySelector("#brandHash").value;
        const widgetHash = document.querySelector("#widgetHash").value;
        const docker = document.querySelector("#docker").value;
        const themes = document.getElementsByName('theme');
        let themeName = 'gradientBeta';
        for(let i = 0; i < themes.length; i++) {
            if(themes[i].checked){
                themeName = themes[i].value;
            }
        }
        if (!brandHash || !widgetHash) {
            return;
        }
        localStorage.setItem("widgetHash", widgetHash);
        localStorage.setItem("brandHash", brandHash);
        localStorage.setItem("docker", docker);
        localStorage.setItem("theme", themeName);
        window.location.href = `./widget?brandHash=${brandHash}&widgetHash=${widgetHash}&docker=${docker}&theme=${themeName}`;
    }
</script>
</body>
</html>
